
@import url(https://fonts.googleapis.com/css?family=Anton:regular);
@import url(https://fonts.googleapis.com/css?family=Courier+Prime:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Delicious+Handrawn:regular);
@font-face {
  font-family: 'Gilker';
  src: url('../Fonts/gliker-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Horizon';
  src: url('../Fonts/Horizon_Regular.otf') format('truetype');
}

@font-face {
  font-family: 'tan-mon-cheri';
  src: url('../Fonts/tan-mon-cheri.ttf') format('truetype');
}

@font-face {
  font-family: 'didact-gothic';
  src: url('../Fonts/didact-gothic-regular.ttf') format('truetype');
}


                                /* General */
body{
        background-color: #FEFAEE;
}

main{
    position: absolute;
    top: 15vh;
}

section{
    display: flex;
    flex-direction: row;
}

p{
    margin:0%;
    font-size: clamp(0.5rem, 1.5vw, 2rem);
    font-family: 'didact-gothic','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    font-size: clamp(1rem, 1vw, 2rem);
    text-wrap: nowrap;
    align-self: center;
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
    text-decoration: underline solid 1px;

}

h1{
    font-family: 'tan-mon-cheri';
    font-size: 5vw;
    margin: 0%;
    width: 40%;
    text-align: center;
    font-weight:bolder;
}

h2,h3{
    /* font-family: 'gilker'; */
    font-size: 4vw;
    text-wrap: wrap;
    text-align: center;
}

h3{
    font-size: 3vw;
}

h2{
    font-size: 8vw;
}



                                 /*Header  */

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: fixed;
    top: 0%;
    width: 100%;

    color: #A40C0B;
    background-color: #FEFAEE;
    z-index: 10;
    border-bottom: #A40C0B solid 4px;

    padding: 2em;
    height: 3vh;
}

header a{
    color: #A40C0B;
}

.logo{
    width: 10%;
    height: auto;
    font-size: 3em;
    font-family: gilker;
    color:#80020A;

}

nav{
    width: 30%;
    text-align: start;
    text-wrap:none;
    font-family: 'tan-mon-cheri',  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



                                     /* Hero */
#hero{
    color:#272343;

    flex-wrap: wrap;

    background-image: url(/assets/herobg.png);
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100vw;


}

#hero h1{
    width: 100%;
    color: #A40C0B;
}

#hero input{
    border: #80020A 5px solid;
    padding: 1em;
    border-radius: 30px;
    width: 20em;
}

.search-wrapper {
    position: relative;
    display: inline-block;
}

.search-wrapper input {
    padding-right: 2em; /* make space for the button */
}

.search-wrapper .search-btn {
    position: absolute;
    right: 0.2em;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    background-color: #80020A;
    padding: 4%;
    border-radius: 100%;
}

                            /* Categories */

#categories{
    border: #80020A solid 5px;
}
#categories h3{
    transition: ease-in-out 4s display;
    transition-duration: 3s;
    display: none;
}

#categories img{
    fill: #80020A;
    width: 60%;

}
#dessert-icon {
    transform: translate(-20vw, -43vh);
    transition: transform 1s ease-in-out;
}

#maindishes-icon {
    transform: translate(35vw, -95vh);

    transition: transform 1s ease-in-out;
}

#bakedgoods-icon {
    transform: translate(30vw, -50vh);
    transition: transform 1s ease-in-out;
}

                          /* recipe things */

.RecipeCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 30%;
    margin: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.RecipeImage{
    object-fit:cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.img_wrapper{
        border-radius: 5%;
        width: inherit;
        height: 100%;
        overflow: hidden;
}

.RecipeInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height:inherit; */
    width: 100%;
    border-radius: 5%;
    background-color: white;
    height:25%;
}


                            /* Recipe of the week */

#RecipeOfTheWeek{
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 60vh;
    justify-content: space-evenly;

}

#RecipeOfTheWeek article{
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Delicious Handrawn';
p{
    margin: 0%;
    padding: 0%;
}

h2{
     margin: 1%;
    padding: 1%;   
}

}
#RecipeOfTheWeek #image{
    width: 40%;
    height: 100%;
    background-image: url('/assets/cookie.png');
    background-size:fill;
    background-position: center;
    background-repeat: no-repeat;
h3{
    text-align: center;
    color: white;
    font-size: 5vw;
}

}

